<div class="megamenu_child">
    <div class="first_col">
        <div>
            {% include 'nav-list', handle: 'submenu-1' %}
        </div>
        <div>
            {% include 'nav-list', handle: 'submenu-2' %}
        </div>
        <div>
            {% include 'nav-list', handle: 'submenu-3' %}
        </div>
    </div>
    <div class="menu_images">
        <div class="menulist">
            <div class="menulistborder"> 
                <img src="https://cdn.shopify.com/s/files/1/1506/1208/files/klevarange_top_navigation_-_best_sellers.jpg?v=1639523904" alt="kleva best sellers" loading="lazy" class="img-fluid" style="max-width: 258px; width: 100%;">
                <div class="title">
                    <h6>Kleva Best Sellers</h6>
                    <a href="/collections/featured-products">Shop Now</a>
                </div>
            </div>
            <a href="/collections/featured-products" class="absolute_tag"></a>
        </div>
    
        <div class="menulist">
            <div class="menulistborder">
                <img src="https://cdn.shopify.com/s/files/1/1506/1208/files/klevarange_top_navigation_-_new_arrivals.jpg?v=1639524122" alt="kleva best sellers" loading="lazy" class="img-fluid" style="max-width: 258px; width: 100%;">
                <div class="title">
                    <h6>New Arrivals</h6>
                    <a href="/collections/new-arrivals">Shop Now</a>
                </div>
            </div>
            <a href="/collections/new-arrivals" class="absolute_tag"></a>
        </div>
    </div>
</div>