:root{
    --red-color: #e50009;
}


/* top announcement bar  */
.top_announcement{
    background-color: #fff2df;
}

.top_announcement .announcement-bar{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.top_announcement .shippinginfo{
    display: flex;
    align-items: center;
    gap: 9px;
    padding-left: 0;
}

.top_announcement .payment{
    display: flex;
    align-items: center;
}

.top_announcement .payment{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.top_announcement .klevareward{
    text-align: right;
    padding: 0 0;
    display: flex;
    align-items: center;
}

.top_announcement a.reward{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    text-decoration: none;
    color: #fff;
    background-color: #7504bc;
    max-width: 158px;
    text-align: center;
    margin-left: auto;
    border-radius: 4px;
    padding: 4px 6px;
    text-transform: uppercase;
}

.header .searchsection{
    display: grid;
    grid-auto-flow: column;
    justify-content: space-between;
}

header span.logo{
    display: grid;
    font-size: 17px;
    color: #fff;
    gap: 12px;
}

img{
    width: 100%;
}

.header-wrapper .header_menus{
    position: relative;
    top: 1px;
}

.header-wrapper .header_menus .menu_links a{
    color: #fff;
    font-size: clamp(.9rem, 3vmin, 2rem);
    text-transform: capitalize;
    font-weight: 600;
    height: 100%;
    padding: 5px 10px;
    transition: .2s all;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.header_menus{
    position: relative;
}

.header_menus .megamenu{
    background-color: #fff;
    color: #333;
    position: absolute;
    left: 0;
    width: 100%;
    transition: all 0.3s ease;
    opacity: 0;
    visibility: hidden;
}

li:hover .megamenu{
    opacity: 1;
    visibility: visible;
}

.header_menus .menu_links{
    display: flex;
    align-items: center;
}

.header_menus .menu_links li{
    list-style: none;
}

.megamenu_child{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 1em 0;
}

.header-wrapper .header_menus .megamenu_child a{
    text-decoration: none;
    color: #333;
    font-weight: 500;
    font-size: 14px;
}

.menulist {
    width: fit-content;
}
.megamenu_child .title{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
}

.megamenu_child .title h6{
    margin: 0;
}

.megamenu_child ul{
    list-style: none;
    left: 0;
    margin: 0;
}

.megamenu_child h6{
    color: #000;
    font-size: 14px;
}

.header-wrapper .header_menus .megamenu_child .title a{
    color: var(--red-color);
    text-decoration: underline;
    font-weight: 500;
}

.megamenu .menu_images{
    display: grid;
    grid-auto-flow: column;
    justify-content: flex-end;
    gap: 1em;
}

.megamenu .first_col{
    display: grid;
    grid-auto-flow: column;
    justify-content: space-between;
}

@media (max-width: 1024px){
    .top_announcement .announcement-bar{
        grid-template-columns: none;
        grid-auto-flow: column;
        justify-content: space-between;
    }
    .top_announcement .payment{
        display: none;
    }
}

@media (max-width: 989px){
    .header .searchsection{
        grid-template-columns: repeat(2, 1fr);
        grid-auto-flow: row;
        gap: 8px;
        position: absolute;
        width: 96%;
        bottom: 0;
        left: 50%;
        top: 0em;
        transform: translateX(-50%);
    }

    header-drawer{
        position: absolute;
        top: 9px;
    }

    .header .header__heading span.text{
        display: none;
    }

    .header{
        grid-auto-flow: column;
        min-height: 95px;
        height: 100%;
        padding-top: 0;
        padding-bottom: 0;
    }

    .header .searchform{
        order: 4;
        grid-column: span 2;
        position: absolute;
        width: 96%;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
    }

    .searchsection a.header__heading-link{
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }
}

@media (max-width: 767px){
    .top_announcement .klevareward{
        display: none;
    }

    .top_announcement .announcement-bar{
        justify-content: center;
    }

    .header__icons a.header__icon{
        width: 3em;
        height: 3em;
    }
}

.product-grid .grid__item{
    padding-bottom: 0.8em!important;
}

.card.card--product.card--outline{
    border: none;
}

.card-wrapper{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.16);
    height: 100%;
    border-radius: 7px;
}

.card-wrapper .card-information{
    padding: 0 8px;
}

.reviews{
    font-size: 12px;
}

.product_card_bottom{
    display: grid;
    grid-auto-flow: column;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.7em;
}

.badge{
    color: #fff;
    border: none;
    box-shadow: none;
    padding: 4px 6px;
    font-size: 11px;
    border-radius: 4px;
}

.popular_badge{
    background-image: linear-gradient(to right,#ac68d7,#a65ed4,#a053d1,#9a48ce,#943dcb,#8e35c6,#872cc2,#8123bd,#791cb5,#7115ad,#6a0da6,#62039e);
}
.new_arrival_badge{
    background: #ff6801;
}
.free_shipping_badge{
    background: linear-gradient(135deg,#6ad903 0,#00a516 100%);
}
.fast_shipping_badge{
    background-image: linear-gradient(to right,#ac68d7,#a65ed4,#a053d1,#9a48ce,#943dcb,#8e35c6,#872cc2,#8123bd,#791cb5,#7115ad,#6a0da6,#62039e);
}
.limited_stock_badge{
    background: #e50009;
}
.tv_badge{
    background: #ff6801;
}


/* product card */
.product_inner .product_image {
    position: relative;
    width: 100%;
} 

.product_inner .product_image:before {
    content: "";
    display: block;
    padding-top: 100%;
}

.product_inner .product_image .content {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    transition: .7s all;
}

.product_card_title{
    font-size: 13px;
    line-height: 1.4;
    color: #121212;
    margin: 0;
}

.product_inner .morning_show {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    color: #2f393b;
    background: linear-gradient(135deg,#f9d400 0,#fe0 100%);
    font-size: clamp(.5rem, 1vw, .813rem);
    text-align: center;
    padding: 0 0;
    z-index: 1;
    text-transform: uppercase;
}

.product_inner .morning_show p{
    font-size: 13px;
    line-height: 1.1;
    margin: 4px 0;
}

.product_inner {
    background: #fff;
    text-decoration: none!important;
    background-color: #fff;
    border-radius: 8px;
    overflow: hidden;
    padding: 4px 4px 0;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 16%);
}

.product_inner .full-unstyled-link{
    display: grid;
    height: 100%;
}

.product_inner .title{
    margin: 10px 0 12px;
}

.product_card_bottom_section{
    align-self: flex-end;
}
/* end of product card */

