/* top announcement bar  */
.top_announcement{
    background-color: #fff2df;
}

.top_announcement .announcement-bar{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.top_announcement .shippinginfo{
    display: flex;
    align-items: center;
    gap: 9px;
    padding-left: 0;
}

.top_announcement .payment{
    display: flex;
    align-items: center;
}

.top_announcement .payment{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.top_announcement .klevareward{
    text-align: right;
    padding: 0 0;
    display: flex;
    align-items: center;
}

.top_announcement a.reward{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    text-decoration: none;
    color: #fff;
    background-color: #7504bc;
    max-width: 158px;
    text-align: center;
    margin-left: auto;
    border-radius: 4px;
    padding: 4px 6px;
    text-transform: uppercase;
}

header span.logo{
    display: grid;
    font-size: 17px;
    color: #fff;
    gap: 12px;
}

img{
    width: 100%;
    height: 100%;
}


@media (max-width: 1024px){
    .top_announcement .announcement-bar{
        grid-template-columns: none;
        grid-auto-flow: column;
        justify-content: space-between;
    }
    .top_announcement .payment{
        display: none;
    }
}

@media (max-width: 989px){
    .header .searchsection{
        grid-template-columns: repeat(2, 1fr);
        grid-auto-flow: row;
        gap: 8px;
        position: absolute;
        width: 96%;
        bottom: 0;
        left: 50%;
        top: 0em;
        transform: translateX(-50%);
    }

    header-drawer{
        position: absolute;
        top: 9px;
    }

    .header .header__heading span.text{
        display: none;
    }

    .header{
        grid-auto-flow: column;
        min-height: 95px;
        height: 100%;
        padding-top: 0;
        padding-bottom: 0;
    }

    .header .searchform{
        order: 4;
        grid-column: span 2;
        position: absolute;
        width: 96%;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
    }

    .searchsection a.header__heading-link{
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }
}

@media (max-width: 767px){
    .top_announcement .klevareward{
        display: none;
    }

    .top_announcement .announcement-bar{
        justify-content: center;
    }

    .header__icons a.header__icon{
        width: 3em;
        height: 3em;
    }
}

.product-grid .grid__item{
    padding-bottom: 0.8em!important;
}

.card.card--product.card--outline{
    border: none;
}

.card-wrapper{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.16);
    height: 100%;
    border-radius: 7px;
}

.card-wrapper .card-information{
    padding: 0 8px;
}

.card-wrapper .reviews{
    font-size: 12px;
}

.card-wrapper .product_card_bottom{
    display: grid;
    grid-auto-flow: column;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.7em;
}

.card-wrapper .tv_deals_tags .badge{
    color: #fff;
    border: none;
    box-shadow: none;
    padding: 4px 6px;
    font-size: 11px;
    border-radius: 4px;
}

.card-wrapper .tv_deals_tags .popular_badge{
    background-image: linear-gradient(to right,#ac68d7,#a65ed4,#a053d1,#9a48ce,#943dcb,#8e35c6,#872cc2,#8123bd,#791cb5,#7115ad,#6a0da6,#62039e);
}
.card-wrapper .tv_deals_tags .new_arrival_badge{
    background: #ff6801;
}
.card-wrapper .tv_deals_tags .free_shipping_badge{
    background: linear-gradient(135deg,#6ad903 0,#00a516 100%);
}
.card-wrapper .tv_deals_tags .fast_shipping_badge{

}
.card-wrapper .tv_deals_tags .limited_stock_badge{
    background: #e50009;
}
.card-wrapper .tv_deals_tags .tv_badge{
    background: #ff6801;
}
